*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(8, 8, 71);
}
.input-container{
    height: 15vh;
    margin-top: 3vh;
    
}

.input_box{
    font-family: 'Freckle Face', cursive;
    height: 60%;
    width: 35vw;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    
}

.task-container{
    height: 85vh;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Freckle Face', cursive;
    
}
.task{
    list-style: none;
    font-size: 1.5rem;
    background-color: blue;
    padding: 1rem ;
    width: 50vw;
    height: 3.5rem;
    margin: 0 auto;
    margin-bottom: 1vh;
}
.instruction{
    font-size: 2rem;
}

@media screen and  (max-width:884px){
    .input_box{
        width: 60vw;
    }
}
